gunicorn==23.0.0
Django==4.2.23
dj-database-url==3.0.1
django-bootstrap-v5==1.0.11
django-crispy-forms==2.4
crispy-bootstrap5==2025.6
djangorestframework==3.16.0
python-dotenv==1.2.1
pillow==11.3.0
qrcode==8.2
django-qrcode==0.3
whitenoise==6.11.0
requests==2.32.5
django-storages==1.14.4
boto3==1.38.32

# OPTIONAL (use if needed)
pandas==2.3.1
psycopg2-binary==2.9.11

# AI FACE SEARCH (only if using)
deepface==0.0.99
opencv-python==4.13.0.92
numpy==2.4.2
